APP_PORT = 3000
NODE_ENV = development

DATABASE_USER = postgres
DATABASE_PASSWORD = 123456
DATABASE_HOST = localhost
DATABASE_PORT = 5437
DATABASE_NAME = mybook_db

JWT_SECRET = VlKd55hEPrvMVSt7Yiegtttefjb9Zt70JxxwhnMrnhnjzrLkG5Kmy0jOIyHZrx6
JWT_TTL = 1y

THROTTLER_TTL = 60
THROTTLER_LIMIT = 1500

MAIL_PROTOCOL = smtp
MAIL_HOST = smtp.gmail.com
MAIL_USER = ltorrezs2008@gmail.com
MAIL_PASSWORD = tzyyqfnybkpvlkhz
MAIL_FROM = ltorrezs2008@gmail.com